{% extends 'users/userbase.html'%}
{%load static%}
{%block contents%}
<!--<style>-->
<!--    .bg-light{-->
<!--    margin-top: -500px;-->
<!--    background: #65cd00;-->
<!--    padding:10px;-->
<!--    }-->

<!--</style>-->

 <section class="we-do">
    <div class="container">
        <div class="we-do-details">
            <div class="section-header text-center">
                <h2>EC Home Page</h2><br>
                <h3><font color="RED">{{msg}}</font></h3>
                <center>
                <form action="{%url 'ECViewResults'%}" method="post">
                    {%csrf_token%}
                <table>
                    <tr>
                        <td>Enter your Private Key:</td>
                        <td><input type="text" name="privateKey" required></td>
                    </tr>
                    <tr><td></td><td></td></tr>
                    <tr>
                        <td></td>
                         <td>
                                <button class="btn btn-block btn-primary text-white py-3 px-5"
                                        style="margin-center:20%;"
                                        type="submit">
                                    Check
                                </button>
                            </td>
                    </tr>
                </table>
            </form>
                </p>
            </div><!--/.section-header-->

        </div><!--/.we-do-details-->
    </div><!--/.container-->
</section><!--/.we-do-->


{%endblock%}